* {
    border: 1px outset red;
}

.form, .mainContainer {
    width: fit-content;
}
.btns {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.btn {
    width: fit-content;
    border: 2px solid black;
    background-color: cadetblue;
}